.nav {
  text-align: center;
  margin: 20px auto 0;
  background-color: rgb(90, 156, 182);
  border-radius: 5px;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
}
.link:hover {
  text-decoration: underline;
}

.activeLink {
  composes: link;
  color: rgb(43, 121, 117);
  font-size: 20px;
  text-decoration: underline;
}
